.Filter {
  text-align: center;
  margin-bottom: 20px;
}

.Filter__label {
  font-size: 18px;
}

.Filter__input {
  display: block;
  width: 240px;
  padding-left: 5px;
  margin: 0 auto;
  margin-top: 10px;
  outline: 0;
}
