.ContactForm {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 280px;
  padding: 20px;
  margin: 0 auto;
  margin-bottom: 20px;
  border-radius: 2px;
  box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
}

.ContactForm__label {
  margin-bottom: 10px;
  cursor: pointer;
}
.ContactForm__input {
  display: block;
  width: 240px;
  padding-left: 5px;
  margin-top: 10px;
  outline: 0;
}
